<div class="container">
  <% if @query.empty? %>
    <h1 class="fs-3 my-5 mx-5 fw-bold">Here are the lenses you're looking for:</h1>
  <% else %>
    <h1 class="fs-3 my-5 mx-5 fw-bold">Your query: <span class="fst-italic"><%= @query %></span></h1>
  <% end %>


  <div class="lenses-grid">
    <div class="filters shadow me-5" style="height: fit-content" data-controller="price-filter">
      <h2 class="">Filters:</h2>

      <%= form_with url: lenses_path, method: :get do |f| %>
        <%= f.label :price, "Price range:", class: "mb-3" %>
        <div class="d-flex justify-content-around align-items-center flex-column">
          <%= f.range_field :price, :in => 0..300, :step => '1', data: {action: "input->price-filter#setPrice", "price-filter-target" => "value"} %>
          <span>Max: <span id="max-price" data-price-filter-target="max">150€</span></span>
        </div>

        <%= f.label :lens_type,"Lens type:", class: "my-3" %>
        <%= f.select :lens_type, ["Wide", "Normal", "Ultrawide", "Macro"] %>

        <%= f.hidden_field :query, value: @query %>

        <%= f.submit "filter", class: "mt-3 btn btn-outline-primary" %>

        <div>
          <h3 class="fs-6 mt-5 mb-2">Filter applied:</h3>
          <% if @filters %>
            <p class="fst-italic"><%= @filters %></p>
          <% else %>
            <p class="fst-italic">No filters applied</p>
          <% end %>
        </div>
      <% end %>

    </div>

    <div class="lenses">
      <% unless @lenses.empty? %>
        <h2 class="fs-5 mb-4 fw-bold">results: <%= @lenses.count %></h2>
      <% end %>
      <div class="lenses d-flex flex-wrap justify-content-center bg-primary rounded py-5 shadow position-relative">
        <% if @lenses.empty? %>
          <p class="position-absolute top-50 start-50 translate-middle text-white fw-bold fst-italic">Sorry, no result for your query</p>
        <% else %>
          <% @lenses.each do |lens| %>
            <div class="m-2">
                <%= render "shared/lens_card", lens: lens %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
