<% bookings.each do |booking| %>
  <div class="d-flex justify-content-between align-items-center p-3 border-bottom-3 border-dark mb-2">
    <div>
      <%= cl_image_tag booking.lens.image.key, crop: :fill, style: "width: 50px" %>
      <span class="me-3 fw-bold"><%= booking.lens.name %></span>
      <span class="me-3"><%= booking.lens.lens_type %></span>
      <span class="me-3"><%= booking.lens.location %></span>
      <span class="me-3"><%= booking.lens.price %>€ / weeks</span>
    </div>
    <div>
      <span><%= booking.start_date %></span>
      -
      <span><%= booking.end_date %></span>
    </div>
    <div>
      <%= link_to  "Cancel booking", root_path%>
    </div>
  </div>
<% end %>
