<nav class="d-flex justify-content-between align-items-center py-2 px-2 global-navbar shadow-sm">
  <%= link_to root_path, class: "ms-5"  do %>
    <%= image_tag("airbnb-copyat-logo.svg") %>
  <% end %>
  <%= form_with url: "/search", method: :get, class: "flex-grow-1 mx-5 d-flex justify-content-center align-items-center" do |form| %>
    <%= form.text_field(:query, placeholder: 'Search for a lens', class: "w-100 rounded-pill py-1 px-2", style: "max-width: 500px") %>
  <% end %>


  <div class="d-flex justify-content-between align-items-center">

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "link-underline link-underline-opacity-0 me-5" do %>
        <i class="ri-user-smile-line fs-2"></i>
      <% end %>
    <% else %>
    <%= link_to "Add my lens", '/', class: "btn btn-secondary me-5" %>
      <div class="connect-btn me-3">
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary fw-bold" %>
        <%= link_to "Login", new_user_session_path, class: "fw-bold" %>
      </div>
    <% end %>
  </div>
</nav>
