<nav class="d-flex justify-content-between align-items-center p-2 global-navbar shadow-sm">
  <%= link_to root_path, class: "ms-5"  do %>
    <%= image_tag("airbnb-copyat-logo.svg") %>
  <% end %>

  <%= render "/shared/searchbar" %>

  <div class="d-flex justify-content-center align-items-center me-5">
    <% if user_signed_in? %>
      <%= render "/shared/menu_nav" %>
    <% else %>
    <%= link_to "Add my lens", '/', class: "navbar-label" %>
      <div class="connect-btn me-3">
        <%= link_to "Sign Up", new_user_registration_path, class: "navbar-label" %>
        <%= link_to "Login", new_user_session_path, class: "navbar-label" %>
      </div>
    <% end %>
  </div>
</nav>
