<% bookings.each do |booking| %>
  <div class="d-flex justify-content-between align-items-center p-3 border-bottom-3 border-dark mb-2">
    <div class="d-flex align-items-center">
      <%= cl_image_tag booking.lens.image.key, crop: :fill, style: "width: 50px" %>
      <span class=" ms-3 me-3 fw-bold d-inline-block text-truncate" style="display: inline-block; width: 12rem" ><%= booking.lens.name %></span>
      <span class="me-3"><%= booking.lens.price %>€ / weeks</span>
    </div>
    <div class="d-flex align-items-center">
      <span><%= booking.start_date.strftime("%d/%m/%Y") %> - <%= booking.end_date.strftime("%d/%m/%Y") %></span>
    </div>
    <div class="d-flex align-items-center">
      <%= link_to  "Cancel booking", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Confirm delete this booking ?" } %>
    </div>
  </div>
<% end %>
